<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>マイページ</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="reset.css">
<link th:href="@{/css/myPage.css}" rel="stylesheet" type="text/css">
</head>

<body>
     <form th:action="@{/individualPage/{id}(id=${id})}">
		<button class="back">戻る</button>
	</form>
	<form th:action="@{/individualPageUpdate/{id}(id=${id})}" method="post">
		<div class="head">
			<button type="submit" class="Edit">編集完了</button>
		</div>

		<div class="info">
			<table class="upper">
				<tr class="upper_info">
					<th>名前</th>
					<td class="data"><input class="indata" contenteditable="true"
						th:field="*{user.userName}"></td>
					<th>年齢</th>
					<td class="data"><input class="indata" contenteditable="true"
						th:field="*{user.userAge}"></td>
					<th>電話番号</th>
					<td class="data"><input class="indata" contenteditable="true"
						th:field="*{user.telephoneNumber}"></td>
				</tr>
				<tr class="upper_info">
					<th>ID</th>
					<td class="data"><input class="indata" contenteditable="true"
						th:field="*{user.id}"></td>
					<th>出身</th>
					<td class="data"><input class="indata" contenteditable="true"
						th:field="*{user.birthPlace}"></td>
					<th>メール</th>
					<td class="data"><input class="indata" contenteditable="true"
						th:field="*{user.mail}"></td>
				</tr>
			</table>

			<table class="lower">
				<tr class="lower_info">
					<th>現役職</th>
					<td class="data"><input class="indata" contenteditable="true"
						th:field="*{user.activeDuty}"></td>
					<th>前職</th>
					<td class="data"><input class="indata" contenteditable="true"
						th:field="*{user.beforeJob}"></td>
				</tr>
				<tr class="lower_info">
					<th>所属部署</th>
					<td class="data"><input class="indata" contenteditable="true"
						th:field="*{user.department}"></td>
					<th>学歴</th>
					<td class="data"><input class="indata" contenteditable="true"
						th:field="*{user.educationalBg}"></td>
				</tr>
				<tr class="lower_info">
					<th>入社日</th>
					<td class="data">
					<input class="indata" contenteditable="true" th:value="*{user.hireDate}"></td>
					<th>資格</th>
					<td class="data">
					<input class="indata" contenteditable="true" th:value="*{user.license}"></td>
				</tr>
			</table>

			<table class="favorite">
				<tr class="favorite_info">
					<th>趣味</th>
					<th>自由欄</th>
				</tr>
				<tr class="favorite_info">
					<td class="data" th:value="*{user.hobby}"><input
						class="indata" contenteditable="true" th:field="*{user.hobby}"></td>
					<td class="data" th:value="*{user.free}"><input class="indata"
						contenteditable="true" th:field="*{user.free}"></td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>