<!DOCTYPE html>
<html lang="ja">

    <head>
        <title>マイページ</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="myPage.CSS">

    </head>
    <body>
        <img src = "Black.jpg" alt = "写真" width="160px" height="200px" >
        <div class = "btn">
            <button class="btn">編集</button>
            <button class="btn">戻る</button>
        </div>
        <div class = "info">
            <div class = "head">
                <table class = "ID">
                    <tr><th>名前</th><td class ="data"></td></tr>
                    <tr><th>ID</th><td class ="data"></td></tr>
                </table>
                <table class = "basic">
                    <tr><th>年齢</th><td class ="data"></td></tr>
                    <tr><th>出身</th><td class ="data"></td></tr>
                </table>
                <table class = "contact">
                    <tr><th>電話番号</th><td class ="data"></td></tr>
                    <tr><th>メール</th><td class ="data"></td></tr>
                </table>
            </div>
    
            <div class = "buttom">
                <table class = "director">
                    <tr><th>現役職</th><td class ="data"></td></tr>
                    <tr><th>所属部署</th><td class ="data"></td></tr>
                    <tr><th>入社日</th><td class ="data"></td></tr>
                </table>
                <table class = "history">
                    <tr><th>前職</th><td class ="data"></td></tr>
                    <tr><th>学歴</th><td class ="data"></td></tr>
                    <tr><th>資格</th><td class ="data"></td></tr>
                </table>
            </div>
            <div class ="free">
                <table class = "favorite">
                    <tr><th>好きなもの</th><td class ="data"></td></tr>
                    <tr><th>自由欄</th><td class ="data"></td></tr>
                </table>
            </div>
        </div>

    </body>
</html>