<!DOCTYPE html>
<html lang="ja">

    <head>
        <title>マイページ</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="CSS/myPage.CSS">

    </head>
    <body>
        <div class = "head">
            <div class = "testimg" ></div>
            <div class = "btn">
                <button class="btn">完了</button>
                <button class="btn">中止</button>
            </div>
        </div>
        <div class = "info">
            
            <table class = "upper">
                <tr class = "upper_info">
                    <th>名前</th><td class = "data" contenteditable="true"></td>
                    <th>年齢</th><td class = "data" contenteditable="true"></td>
                    <th>電話番号</th><td class = "data" contenteditable="true"></td>
                </tr>
                <tr>
                    <th>ID</th><td class = "data" contenteditable="true"></td>
                    <th>出身</th><td class = "data" contenteditable="true"></td>
                    <th>メール</th><td class = "data" contenteditable="true"></td>
                </tr>
            </table>

            <table class = "lower">
                <tr class = "lower_info">
                    <th>現役職</th><td class ="data" contenteditable="true"></td>
                    <th>前職</th><td class ="data" contenteditable="true"></td>
                </tr>
                <tr>
                    <th>所属部署</th><td class ="data" contenteditable="true"></td>
                    <th>学歴</th><td class ="data" contenteditable="true"></td>
                </tr>
                <tr>
                    <th>入社日</th><td class ="data" contenteditable="true"></td>
                    <th>資格</th><td class ="data" contenteditable="true"></td>
                </tr>
            </table>

            <table class = "favorite">
                <tr class = "favorite_info"><th>好きなもの</th><th>自由欄</th></tr>
                <tr class = "favorite_info"><td class ="data" contenteditable="true"></td><td class ="data" contenteditable="true"></td></tr>
            </table>

        </div>

    </body>
</html>