<!DOCTYPE html>
<html lang="ja">

    <head>
        <title>編集</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="userList.CSS">


    </head>
    <body>
        <a href="URL" class="btn">戻る</a>
        <a href="URL" class="btn">マイページ</a>
        <table border = "1">ユーザー一覧
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>年齢</th>
                <th>現役職</th>
                <th>所属部署</th>
            </tr>
        </table>

    </body>
</html>