<!DOCTYPE html>
<html lang="ja">

    <head>
        <title>編集</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="CSS/userList.CSS">


    </head>
    <body>
        <div class = "btnback">
            <button class="btn">マイページ</button>
            <button class="btn">戻る</button>
        </div>
        <table>
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>年齢</th>
                <th>現役職</th>
                <th>所属部署</th>
                
            </tr>
            <tr><td></td><td></td><td></td><td></td><td></td></tr>
        </table>

    </body>
</html>